---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about-astro.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			基于Astro实现的个人博客。
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
				fetchpriority="high"
			/>
		</div>
		<p>本人特点：</p>
		<ul class="list-inside list-disc">
			<li>抠门！</li>
			<li>老司机！</li>
			<li>entj</li>
			<li>i人e人随时间变化！</li>
			<li>有个不错的女朋友(最重要的一点)！</li>
			<li>有点理想主义，但是在现实中还是挺现实的！</li>
			<li>程序员外交官！</li>
		</ul>
		
	</div>
</PageLayout>
